<!--
    (C) Copyright 2009 by Richard Doll, All Rights Reserved.

    License:
    You are free to use, copy, or modify this software provided it remains free
    of charge for all users, the source remains open and unobfuscated, and the
    author, copyright, license, and warranty information remains intact and
    clearly visible.

    Warranty:
    All content is provided as-is. The user assumes all liability for any
    direct or indirect damages from usage.
-->

<!-- Details about OCP itself -->
<div id="about">

    <!-- The right column comes first so we can float it right -->
    <div id="aboutRightColumn">
        <div id="aboutLicense" class="moduleSection">
            <div class="moduleTitle">License</div>
            <p>
                You are free to use, copy, or modify this software provided it remains free
                of charge for all users, the source remains open and unobfuscated, and the
                author, copyright, license, and warranty information remains intact and
                clearly visible.
            </p>
        </div>

        <div id="aboutWarranty" class="moduleSection">
            <div class="moduleTitle">Warranty</div>
            <p>
                All content is provided as-is. The user assumes all liability for any
                direct or indirect damages from usage.
            </p>
        </div>
    </div>

    <div id="aboutLeftColumn">
        <div id="aboutCredits" class="moduleSection">
            <div class="moduleTitle">Credits</div>

            <div class="moduleSubsection">
                <div class="moduleSubtitle">Oblivion Character Planner</div>
                <p>
                    &copy; Copyright 2009
                    <a href="javascript:ocp.contact.dialog.show()"
                        title="Contact Richard Doll">Richard Doll</a>,
                    All Rights Reserved.
                </p>
                <p>
                    <div>All OCP content designed and implemented by Richard Doll.</div>
                    <div>
                        Home Page:
                        <a href="http://home.roadrunner.com/~foaminator/">
                            http://home.roadrunner.com/~foaminator/
                        </a>
                    </div>
                </p>
                <p>
                    Many thanks to those who published Oblivion's details like
                    <a href="http://www.gamefaqs.com/console/xbox360/game/941875.html">
                        some FAQs at GameFAQs
                    </a>
                    and the awesome compendium of knowledge maintained at
                    <a href="http://www.uesp.net/">Unofficial Elder Scroll Pages (UESP)</a>.
                </p>
            </div>

            <div class="moduleSubsection">
                <div class="moduleSubtitle">Dojo Toolkit</div>
                <p>&copy; Copyright 2005-2009 The Dojo Foundation, All Rights Reserved.</p>
                <p>
                    <div>
                        Home Page: <a href="http://dojotoolkit.org/">http://dojotoolkit.org/</a>
                    </div>
                    <div>
                        License:
                        <a href="http://dojotoolkit.org/license">
                            http://dojotoolkit.org/license
                        </a>
                    </div>
                </p>
            </div>

            <div class="moduleSubsection">
                <div class="moduleSubtitle">The Elder Scrolls IV: Oblivion</div>
                <p>
                    &copy; Copyright 2006-2009
                    <a href="http://www.bethsoft.com/">Bethesda Softworks LLC</a>,
                    All Rights Reserved.
                </p>
                <p>
                    Home Page:
                    <a href="http://www.elderscrolls.com/">http://www.elderscrolls.com/</a>
                </p>
                <p>
                    All race, birthsign, and class images and descriptions were derived from
                    in-game or web site resources.
                </p>
            </div>
        </div>
    </div>
</div>
