<!--
    (C) Copyright 2009 by Richard Doll, All Rights Reserved.

    License:
    You are free to use, copy, or modify this software provided it remains free
    of charge for all users, the source remains open and unobfuscated, and the
    author, copyright, license, and warranty information remains intact and
    clearly visible.

    Warranty:
    All content is provided as-is. The user assumes all liability for any
    direct or indirect damages from usage.
-->

<!-- OCP home page information -->
<div id="home">
    <!-- Note any important beta limitations (inline styles since this is temporary) -->
    <div style="margin: 1em 2em; border: 2px solid red; padding: 0.5em; background-color: #ddd;">
        While OCP is being designed with browser portability in mind, it only officially runs on
        FireFox 3.0/3.5 because OCP is being developed on it. All other standards compliant
        browsers may or may not work, but no version of IE works yet. In future OCP versions, the
        major releases of Internet Explorer, Opera, Safari, and Google Chrome will be explicitly
        supported.
    </div>

    <div class="moduleTitle">Welcome to OCP!</div>
    <p>
        OCP is a browser-based tool that evaluates the potential maximums of any new or existing
        <a href="http://www.elderscrolls.com/">The Elder Scrolls IV: Oblivion</a>
        character. Aside from being a fun exercise, why do you need to plan your character&apos;s
        creation and leveling?
    </p>

    <p class="homeOcpReason">
        If you don&apos;t plan your character&apos;s creation and leveling path, it is
        <span class="majorEmphasis">very likely</span> that your character will get comparatively
        <span class="majorEmphasis">weaker</span> as you level up.
    </p>

    <div class="moduleSubtitle">The Leveling Problem</div>
    <p>

        Getting weaker compared to monsters as you level up is known as "The Leveling Problem".
        Oblivion&apos;s leveling process is a fairly complex topic to understand (a good starting
        point is
        <a href="http://www.uesp.net/wiki/Oblivion:Leveling">UESP&apos;s Leveling page</a>),
        but essentially it happens because of two aspects of Oblivion&apos;s design:

        <ol>
            <li>

                The potency of all monsters is tied to your character&apos;s level. As your level
                increases, you will face monsters with more health, better quality weapons, more
                spells and abilities, etc. The key point is that the
                <span class="majorEmphasis">amount</span> monsters are increased in potency is
                <span class="majorEmphasis">fixed</span> for each level.
            </li>
            <li>
                When you character levels up, the amount you can increase an attribute by ranges
                from 1 to 5 depending on how many points you increased that attribute&apos;s
                associated skills. This is unquestionably most important when dealing with your
                Endurance attribute because your Health is directly derived from it.
            </li>
        </ol>

        So essentially the problem boils down to how much potency you gain per level versus how
        much potentcy the monsters gain per level. If you plan poorly and raise your attributes
        1-3 points per level, the game will get harder and harder as you fall farther and farther
        behind the monsters. However, if you plan smartly and raise your attributes by 4 or 5 per
        level, you can stay even or perhaps exceed the gains of the monsters.
    </p>

    <div class="moduleSubtitle">The Leveling Solution</div>
    <p>
        Unfortunately, neither the in-game descriptions, the game manual, nor the official
        strategy guide properly discusses "The Leveling Problem". In fact, 19 of the default 21
        classes are designed so that leveling them is <span class="majorEmphasis">extremely</span>
        tricky (at least one attribute has all major skills). Plus, when the game manual and the
        official strategy guide discuss how to create your character, they ignore "The Leveling
        Problem" encouraging you to make selections that are hard (if not impossible) to level
        effectively.
    </p>
    <p>
        Sites like <a href="http://www.uesp.net/">Unofficial Elder Scrolls Pages (UESP)</a> do a
        great job discussing the issues, but it&apos;s hard to go from an abstract discussion of
        leveling mechanics to a working character you&apos;ll enjoy playing for 30-40 levels.
        There are plenty of places where character templates are listed with people espousing the
        pros and cons of each one, but with so many permutations possible, these templates work
        best as a starting point for you to tweak into a unique character that matches your
        desires. Unfortunately, without a tool, it&apos;s difficult to determine the impact of
        such tweaks.
    </p>
    <p>
        The only complete solution is a tool that not only lets you pick the starting
        configuration of your character, but also simulates what will happen as you level up.
        Because this is such a daunting task, no such tool has ever done it... until OCP!
    </p>
    <p>
        OCP presents a complete menu of race, birthsign, and class choices letting you zoom in on
        the best ones for you. As you build your character, OCP automatically simulates leveling
        up and analyzes the results for you. This immediate feedback makes it simple to tweak your
        character for maximum effectiveness. And if you have an existing character, OCP can be
        used to analyze the impact of your future leveling choices.
        <div class="homeOcpSolution">
            In short, OCP is a complete character leveling analysis tool!
        </div>
    </p>
</div>