<!--
    (C) Copyright 2009 by Richard Doll

    License:
    You are free to use, copy, or modify this software provided it remains free
    of charge for all users, the source remains open and unobfuscated, and the
    author, copyright, license, and warranty information remains intact and
    clearly visible.

    Warranty:
    All content is provided as-is. The user assumes all liability for any
    direct or indirect damages from usage.
-->

<!-- Usage instructions -->
<!-- *** Add complete usage instructions -->
<div id="instructions">
    OCP is a browser-based tool that can be used to evaluate the potential maximums of any
    new or existing TES IV: Oblivion character. Complete usage instructions will accompany
    the full release, but here are some key points for this fully functional beta:
    <ol>
        <li>
            The basic usage is to input your new or existing character&apos;s information
            into the <span class="sectionName">Character Details</span> panel,
            set the desired attribute order in the
            <span class="sectionName">Leveling Order</span> panel,
            and then view the generated results in the
            <span class="sectionName">Leveling Results</span> panel. Then, by
            tweaking the character data and/or leveling order, you can use the
            automatically regenerated results to tune your character and formulate
            a rough leveling plan.
        </li>
        <li>
            The two most important parts of the
            <span class="sectionName">Leveling Results</span> are any items with a red
            background (hover over them for an explanation of the issue) and the Spare
            Skill Points values. Spare Skill Points can be increased without needing
            their associated attribute bonus; e.g. gaining the inevitable 1-3 Mercantile
            skill points on levels where Personality is not being raised is safe so long
            as Personality&apos;s Spare Skill Points per Level is 3 or more.
        </li>
        <li>
            When <span class="sectionName">New Character</span> is selected, the values
            of <span class="sectionName">Existing Character</span> are ignored and
            vice-versa.
        </li>
        <li>
            OCP does not take into account skills/attributes beyond the default maximum
            of 100 nor does it account for leveling up by losing major skill points from
            serving a jail sentence.
        </li>
        <li>
            For details on why OCP is useful in addressing
            "<a href="http://www.uesp.net/wiki/Oblivion:Leveling#The_Leveling_Problem">The
                Leveling Problem</a>", the articles at
            <a href="http://www.uesp.net/">Unofficial Elder Scrolls Pages</a>
            are highly recommended (especially
            <a href="http://www.uesp.net/wiki/Oblivion:Leveling">Leveling</a>,
            <a href="http://www.uesp.net/wiki/Oblivion:Efficient_Leveling">Efficient
                Leveling</a>, and
            <a href="http://www.uesp.net/wiki/Oblivion:Character_Creation">Character
                Creation</a>).
        </li>
        <li>
            As an example, you can view the complete new and existing character
            data (including historical leveling details that are lost upon any
            recalculation) for the toon I created and leveled using OCP as a guide:
            <a href="javascript:ocp.nullis.safeSetNow();">Nullis</a>.
        </li>
    </ol>
</div>
