@charset "utf-8";

/*===========================================================================*\
|* (C) Copyright 2009-2010 by Richard Doll, All Rights Reserved.
|*
|* License:
|* You are free to use, copy, or modify this software provided it remains free
|* of charge for all users, the source remains open and unobfuscated, and the
|* author, copyright, license, and warranty information remains intact and
|* clearly visible.
|*
|* Warranty:
|* All content is provided as-is. The user assumes all liability for any
|* direct or indirect damages from usage.
\*===========================================================================*/

/*===========================================================================*\
|* ocp.css - Oblivion Character Planner styles
\*===========================================================================*/

/* Set the font info for everything */
html, body {
/*
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    margin: 0;
*/
    font-family: Verdana, Arial, Helvetica, Times;
    font-size: 12px;
}


/*---------------------------------------------------------------------------*\
|* Styles specific to the main page only
\*---------------------------------------------------------------------------*/

/* The main title block */
#title {
    margin: 0.5em 0 1em 0;
}

/* The title itself */
#title h1 {
    margin: 0;
}

/* The tag line for the title header */
#title div {
    font-size: 75%;
}


/* Make the script failure warning messages stand out */
.scriptFailWarning {
    color: red;
    margin: 1em;
    border: 2px solid red;
    padding: 0 0.5em;
    background-color: #ddd;
}

/* Reduce the spacing between paragraphs in a warning message */
.scriptFailWarning p {
    margin: 0.5em 0;
}

/* The first child paragraph in warning messages are the error reason */
.scriptFailWarning > p:first-child {
    font-weight: bold;
    font-size: 125%;
}


/* The main page footer with about information */
#aboutFooter {
    margin-top: 1em;
    border-top: 1px solid #ccc;
    position: relative;
    width: 98%;
    left: 1%;
    font-size: smaller;
}

/* The programs used are tacked to the left */
#aboutPrograms {
    position: absolute;
    top: 0.5em;
    left: 0;
}

/* The authors are centered */
#aboutAuthors {
    margin-top: 0.5em;
    text-align: center;
}

/* The image credits are tacked to the right */
#aboutImages {
    text-align: right;
    position: absolute;
    top: 0.5em;
    right: 0;
}


/*---------------------------------------------------------------------------*\
|* Styles for all modules (except the planner which uses ocp-planner.css)
\*---------------------------------------------------------------------------*/

/*
** Home module
*/

/* Highlight the bad/good key points */
#home .homeOcpReason {
    color: red;
    margin: 1em 2em;
    text-align: center;
}
#home .homeOcpSolution {
    color: green;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin: 1em 2em;
}

/* Align list bullets with the start of normal text */
#home ul {
    padding-left: 1.5em;
}

/* Put some space between list points */
#home li + li {
    margin-top: 0.5em;
}



/*
** Instructions module
*/

/* Put some space between instruction points */
#instructions li + li {
    margin-top: 0.5em;
}

/* A footnote worthy of a little highlighting*/
#instructions .instructNote {
    font-style: italic;
}

/* The first span inside a footnote gets special decoration to denote the type of note */
#instructions .instructNote > span:first-child {
    font-weight: bold;
}

/* Key terms in the instructions get special decoration */
#instructions .instructKeyword {
    font-style: italic;
}


/*
** Advice module
*/

/* Put some space between advice points */
#advice li + li {
    margin-top: 0.5em;
}

/* A footnote worthy of a little highlighting*/
#advice .adviceNote {
    font-style: italic;
}

/* The first span inside a footnote gets special decoration to denote the type of note */
#advice .adviceNote > span:first-child {
    font-weight: bold;
}

/* Key terms in the advice get special decoration */
#advice .adviceKeyword {
    font-style: italic;
}

/* A key point gets special highlighting */
#advice .adviceKeyPoint {
    color: green;
    font-weight: bold;
    font-style: italic;
    margin: 1em 2em;
}

/* The title of a list entry */
#advice .adviceListTitle {
    font-weight: bold;
    display: block;
}

/* The first span in a keyword list item gets highlighted */
#advice .adviceKeywordList li span {
    font-weight: bold;
}


/*
** FAQ module
*/

/* Initialize a counter to number the questions */
#faq {
    counter-reset: faqQuestion;
}

/* Add the question counter to the question */
#faq .faqItem .dijitTitlePaneTextNode:before {
    content: counter(faqQuestion) ". ";
    counter-increment: faqQuestion;
}

/* Remove all preset paragraph margins, but add spacing between them in a single answer */
#faq .faqItem p {
    margin: 0;
}
#faq .faqItem p + p {
    margin-top: 1em;
}


/*
** Release Notes module
*/

/* Highlight the title of each issue or change */
#relnotes .iocItemTitle {
    font-weight: bold;
}

/* Align all table cells to their tops */
#relnotes td {
    vertical-align: top;
    padding-top: 0.5em;
}

/* Add some space above the known issues list */
#knownIssues table {
    margin-top: 0.5em;
}


/*
** About module
*/

/* Make a two column layout:
** The left column is half width.
** The right column is a little less than half width (to make a margin) and floated right.
*/
#aboutLeftColumn {
    width: 65%;
}
#aboutRightColumn {
    float: right;
    width: 33%;
}


/*---------------------------------------------------------------------------*\
|* Styles for main page dialogs
\*---------------------------------------------------------------------------*/

/*
** Contact dialog
*/

/* When the contact dialog is shown, color the main page to focus attention */
#contactDialog_underlay {
    background-color: #999;
}

/* We shouldn't overflow, but if we do, show scrollbars */
#contactContentPane {
    overflow: auto;
}

#contactContentPane .decodingInProgress {
    text-decoration: blink;
    color: red;
}
#contactContentPane .decodingComplete {
    color: green;
}

/* Decorate the container for the decoding animation */
/* By sizing this and the fixed size of the intro text, the dialog is sized */
#contactDecodeContainer {
    border: 1px solid #ccc;
    margin-top: 0.5em;
    width: 300px;
    height: 50px;
    position: relative;
}


/*---------------------------------------------------------------------------*\
|* Generic styles for all content
\*---------------------------------------------------------------------------*/

/*
** Menu bar and menu item styles
*/

/* Ensure the main window can have the menu bar directly on top of it */
#ocpStackContainer {
    margin-top: 0;
}

/* The menu bar's bottom border overlaps the top border of main container for a seamless look */
#mainMenuBar {
    margin-bottom: -1px;
}

/* Align the first menu item with the content pane's title bar */
#mainMenuBar .mainMenuItem:first-child {
    margin-left: 5px;
}

/* Main menu items with no subitems get a button look */
#mainMenuBar .mainMenuItem {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #64d;
    margin: 2px;
}

/* Main menu items with subitems get a "I have more below me" look */
#mainMenuBar .mainMenuPopupItem {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border: 2px solid #64d;
    margin: 2px;
}

/* When main menu items (and not the subitems) are hovered/selected, highlight them */
#mainMenuBar .dijitMenuItemHover, #mainMenuBar .dijitMenuItemSelected {
    border-color: green;
    background-color: white !important;
}

/* When any menu item is hovered/selected, change its color */
.dijitMenuItemHover, .dijitMenuItemSelected {
    color: green !important;
}

/* Set the font characteristics of all menu items to match our text */
.dijitMenuItem, .dijitMenuItemLabel {
    font-family: Verdana, Arial, Helvetica, Times !important;
    font-size: 12px;
    font-weight: bold;
}


/*
** Module common styles
*/

/* Put some space between sibling module sections and subsections */
.moduleSection + .moduleSection, .moduleSubsection + .moduleSubsection {
    margin-top: 1em;
}

/* The title of a module section */
.moduleTitle {
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5em;
}

/* The subtitle of a module subsection */
.moduleSubtitle {
    font-weight: bold;
    text-decoration: underline;
    margin: 1em 0 0.5em 0;
}

/* No top margin for the first paragraph of a section or after a section title */
.moduleTitle + p, .moduleSubtitle + p {
    margin-top: 0;
}
.moduleSection > p:first-child, .moduleSubsection > p:first-child {
    margin-top: 0;
}

/* Add a major amount of emphasis */
.majorEmphasis {
    font-weight: bold;
    font-style: italic;
}

/* Make server names look more computer-like */
.serverName {
    font-weight: bold;
    font-family: Courier, Fixed;
}

/* Citation of a specific part of the planner */
.plannerSection {
    font-weight: bold;
}

/* Major skills get highlighted */
.majorSkill {
    font-weight: bold;
}

/* The expand/collapse all buttons are a little less important than usual buttons */
.expCollButtons {
    font-size: smaller;
    margin-bottom: 0.5em;
}


/*
** Dynamic loading specific styles
*/

/* The explanation of a dynamic loading error */
.loadingError {
    color: red;
}

/* Show the error message we got from Dojo like computer generated output */
.loadingErrorMessage {
    font-family: courier;
    margin: 0.5em 0;
    color: red;
}

/* This class is only used to identify the containers managed by ocp.loader */
.loaderManagedContainer {
}


/*
** Dijit stack container and controller styles
*/

/* Add a little space between buttons in every StackController */
.soria .dijitStackController .dijitToggleButton + .dijitToggleButton {
    margin-left: 10px;
}

/* Make the contents of a StackContainer stand out */
/* The min height ensures AJAX messages are visible in a titled content pane */
.soria .dijitStackContainer {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 2px;
    min-height: 8em;
}


/*
** Dijit tab container styles
*/

/* Put a few extra pixels between tabs atop a tab container */
.soria .dijitTab + .dijitTab {
    margin-left: 4px;
}

/* For some reason, the tab labels are not centered -- get them closer to being centered */
.soria .dijitTab .tabLabel {
    margin-right: 0.5em;
}


/*
** Dijit tooltip styles
*/

.soria .dijitTooltipContainer {
    font-size: 90%;
    color: #00c;
    max-width: 50em;
}


/*
** Dijit TitlePane styles
*/

/* Clear the borders and colors of a title pane's title */
.soria .dijitTitlePaneTitle {
    background: #FFFFFF !important;
    border: 0 !important;
    outline: 0 !important;
    color: #64d !important;
}

/* Clear the borders for the title pane's content */
.soria .dijitTitlePaneContentOuter {
    border: 0 !important;
}

/* Clear the outline when an content is selected and align it with the title */
/* The margin adds spacing between an opened pane and the next item */
.soria .dijitTitlePaneContentInner {
    margin-bottom: 0.5em;
    padding: 0 2em !important;
    outline: 0 !important;
}


/*
** OCP custom titled content pane widget styles
*/

/* No space between a titled content pane and it's contents */
.soria .ocpTitledContentPane {
    padding: 0;
}

/* The title bar is basically dijitDialogTitleBar without the moveable/button stuff */
.soria .ocpTitledPaneTitleBar {
/*
    background: #FAFAFA
        url(http://o.aolcdn.com/dojo/1.4/dijit/themes/soria/images/titleBar.png)
        repeat-x scroll left top;
*/
    background: #FAFAFA url(../dojotoolkit/dijit/themes/soria/images/titleBar.png)
        repeat-x scroll left top;
    border: 1px solid #cccccc;
    padding: 5px 6px 3px;
}

/* The title is basically identical to the dijitDialogTitle style */
.soria .ocpTitledPaneTitle {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 4px;
}

/* Add some space around the contents of the titled pane */
.soria .ocpTitledContentPaneContent {
    padding: 5px;
}


/*
** Common slider styles
*/

/* All sliders get a little top margin to center them with their rules/labels below */
.soria .dijitSlider {
    margin-top: 0.5em;
}

/* Horizontal slider rule markings */
.sliderHorRules {
    height: 0.5em;
}

/* Horizontal slider labels */
/* The height of 1.5em includes 1em for the label and the 0.5 for the rules */
.sliderHorLabels {
    height: 1.5em;
    font-size: 75%;
    color: gray;
}


/*
** Styles for the buttons at the footer of a dialog
*/

/* The footer section of a dialog */
.dialogFooter {
    margin: 1em 0 0 0;
    border: 2px solid #ccc;
    padding: 0.5em 0 0.5em 0;
}

/* The buttons to control the dialog */
.dialogFooterButtons {
    text-align: center;
}

/* The status display area of the dialog */
.dialogFooterStatus {
    padding-top: 0.5em;
    border-top: 1px dotted #ccc;
    margin-top: 0.5em;
    text-align: center;
}

/* The valid/invalid status text in a dialog footer */
.dialogStatusValid {
    color: green;
}
.dialogStatusInvalid {
    color: red;
}


/*
** Table styles
*/

/* Do detailed row/column styling on all tables */
table {
    border-collapse: collapse;
}

/* All table headers aligned to bottom in case of multi-line headers */
th {
    vertical-align: bottom;
}

/* The first column group in a table */
table > colgroup:first-child {
    border-right: 1px solid blue;
}

/* The first column in a new section */
colgroup.first {
    border-left: 1px dashed blue;
}
colgroup.firstMajor {
    border-left: 1px solid blue;
}

/* A header in the first column */
tr > th:first-child {
    text-align: left;
}

/* Add a divider to the first row of a subsequent body's rows */
tbody + tbody > tr:first-child {
    border-top: 1px dashed blue;
}

/* The first and last rows of a section */
/* Mark borders important to override any from default section rules */
tr.first {
    border-top: 1px solid blue !important;
}
tr.last {
    border-bottom: 1px solid blue !important;
}

/* A row with secondary "header" information dividing two sections */
/* Mark borders important to override any from default section rules */
tr.divider {
    font-weight: bold;
    text-align: center;
    border-top: 1px solid blue !important;
    border-bottom: 1px solid blue !important;
}
tr.divider > td:first-child {
    text-align: left;
}

/* Right justify and somewhat center numeric cells */
td.numeric {
    text-align: right;
    padding-right: 0.5em;
}

/* Highlight cells with better, worse, or changed data */
td.better {
    background-color: #bfb;
}
td.worse {
    background-color: #fbb;
}
td.changed {
    background-color: #ffb;
}

/* Highlight even/odd rows */
tr.even {
}
tr.odd {
    background-color: #eee;
}

/* Make "a b c" appear as a vertical column header */
td.vertical, th.vertical {
    white-space: pre;
    text-align: center;
    font-weight: bold;
}


/*
** Drag and drop styles
**
** From http://dojocampus.org/explorer/featureexplorer/Dojo/Drag%20And%20Drop/dndDefault.css
** as used in http://dojocampus.org/explorer/#Dojo_Drag And Drop_Lists
**
** I changed "radius" to "border-radius", changed from using "pt" to "px",
** and added the webkit styles.
*/

.dndContainer {
    border: 3px solid #ccc;
    padding: 0.5em 1em;
    cursor: default;
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.dojoDndContainerOver {
    border: 3px solid #aaa;
}

.dojoDndItem {
    margin: 1px;
    padding: 2px;
    border: 1px dotted #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.dojoDndItemOver {
    background: #ededed;
    cursor: pointer;
    border: 1px solid #ccc;
}

.dojoDndItemSelected {
    background: #ddf;
    color: #444;
    border: 1px solid #ccc;
}

.dojoDndItemAnchor {
    background: #ddf;
    color: black;
}

.dojoDndItemOver .dojoDndItemSelected {
    background: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
    background: #ededed;
}

.dojoDndAvatar {
    border: 2px solid #ccc;
    font-size: 75%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.dojoDndAvatarHeader {
    background: #aaa;
}

.dojoDndAvatarItem {
    background: #fff;
    border-bottom: 1px solid #666;
}
