/*
** race.css
*/

/*
** Common race dialog styles
*/

#raceDialog_underlay {
    background-color: green;
}

#raceTabContainer {
    width: 770px;  height: 400px;
    overflow: auto;
}


/*
** Race overview specific styles
*/

#raceOverviewPane .raceDiv {
    display: inline-block;
    width: 340px;  height: 105px;
    padding: 1px;  border: 1px;  margin: 1px;
    cursor: pointer;
}

#raceOverviewPane .raceImage {
    width: 75px;  height: 100px;
    display: inline-block;
}

#raceOverviewPane .raceName {
    display: block;
    font-weight: bold;
    font-size: larger;
}

#raceOverviewPane .raceDescription {
}


/*
** Race details specific styles
*/

/* Crunch the td.numeric padding a little inside this dense table */
#raceDetailsTable td.numeric {
    padding-right: 0.5em;
}

/* Evenly size all race column data in the details table */
/* *** This doesn't work, but the th setting does...
#raceDetailsTable colgroup.raceData {
    width: 165px;
}
*/
/* *** Oddly, many columns are a little smaller than this.... */
#raceDetailsTable th.raceName {
    width: 65px;
}

/* Compress the default spacing between the race selection buttons */
#raceDetailsTable .dijitButton {
    margin: 0;
}
#raceDetailsTable .dijitButtonNode {
    padding: 0;
}


/* A row with "header" information dividing two sections */
tr.divider {
    font-weight: bold;
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}
tr.divider > td:first-child {
    text-align: left;
}


/* Since skill rows span two columns, pad them a little more */
#raceDetailsTable tr.skill td.numeric {
    padding-right: 2em;
}